<ion-view view-title="Released This Week">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="card list" ng-repeat="release in releases">
      <div class="item item-divider">
        {{release.OriginalTitle}}
      </div>
      <div class="item item-image movie-poster">
        <img src="{{release.PosterPath}}">
      </div>
      <div class="item item-text-wrap">
        {{release.Description | limitTo:100}}...
      </div>
      <a class="item item-icon-left assertive" href="" ng-click="setCurrentMovie(release)">
        <i class="icon ion-arrow-expand"></i>
        More Details
      </a>
      <div class="item item-divider">
        Expected Release Date : {{release.ReleaseDate}}
      </div>
    </div>
  </ion-content>
</ion-view>
