<ion-view view-title="About">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Andheri Alpha 0.7
            </div>
            <div class="item item-text-wrap">
                Thank You for downloading Bollywood's Movie Database. Get Information about every Bollywood Movie, Upcoming Movies, This Week Releases, Next Week Releases and more.
            </div>
            <div class="item item-text-wrap">
                Powered by Cinemalytics
            </div>
            <div class="item item-divider">
                tyrannodrake apps
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Feedback
            </div>
            <form ng-submit="addMessage(newMessageText)">
                <label class="item item-input">
                        <textarea placeholder="Comments" data-ng-model="newMessageText"></textarea>
                    </label>
                <button class="button button-full button-positive" type="submit">
                Send Feedback
                </button>
            </form>
            <div class="item item-divider">
                {{newMessageText}}
            </div>
        </div>
    </ion-content>
</ion-view>