<div class="jumbotron">
  <h1>ngRDP</h1>
  <p class="lead">
    Ramer–Douglas–Peucker Line Simplification Algorithm
  </p>
  <a href="/#/map">Show on Map</a>
</div>

<div class="row marketing">
  <p>The Ramer–Douglas–Peucker algorithm (RDP) is an algorithm for reducing the number of points in a curve that is approximated by a series of points. The initial form of the algorithm was independently suggested in 1972 by Urs Ramer and 1973 by David Douglas and Thomas Peucker and several others in the following decade. This algorithm is also known under the names Douglas–Peucker algorithm, iterative end-point fit algorithm and split-and-merge algorithm.</p>
  <p>The Application shows the use of algorithm in for the simplification of vector graphics and cartographic generalization.</p>
</div>
